Import the libraries needed

In [107]:
import pandas as pd
import numpy as nm

In [108]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep = '\t')
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [109]:
type(chipo)

pandas.core.frame.DataFrame

In [110]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [111]:
chipo.shape[0]

4622

In [112]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [113]:
c.axes

[Index(['Chicken Bowl', 'Chicken Burrito', 'Chips and Guacamole',
        'Steak Burrito', 'Canned Soft Drink', 'Chips', 'Steak Bowl',
        'Bottled Water', 'Chips and Fresh Tomato Salsa', 'Canned Soda',
        'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Side of Chips',
        'Veggie Burrito', 'Barbacoa Burrito', 'Veggie Bowl', 'Carnitas Bowl',
        'Barbacoa Bowl', 'Carnitas Burrito', 'Steak Soft Tacos',
        '6 Pack Soft Drink', 'Chips and Tomatillo Red Chili Salsa',
        'Chicken Crispy Tacos', 'Chips and Tomatillo Green Chili Salsa',
        'Carnitas Soft Tacos', 'Steak Crispy Tacos',
        'Chips and Tomatillo-Green Chili Salsa', 'Steak Salad Bowl',
        'Nantucket Nectar', 'Chips and Tomatillo-Red Chili Salsa',
        'Barbacoa Soft Tacos', 'Chips and Roasted Chili Corn Salsa', 'Izze',
        'Veggie Salad Bowl', 'Chips and Roasted Chili-Corn Salsa',
        'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl', 'Chicken Salad',
        'Carnitas Crispy Tacos', 'Veggie Soft Tacos', 'Burrito', 'Veggie Salad',
        'Carnitas Salad Bowl', 'Bowl', 'Steak Salad', 'Salad', 'Crispy Tacos',
        'Chips and Mild Fresh Tomato Salsa', 'Carnitas Salad',
        'Veggie Crispy Tacos'],
       dtype='object', name='item_name'),
 Index(['order_id', 'quantity'], dtype='object')]

In [114]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [115]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [116]:
chipo.item_price[0:5]

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
Name: item_price, dtype: object

In [117]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)
chipo.item_price[0:5]

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#Trying Filters

In [118]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x % 2, fib)
print(list(result))

[1, 1, 3, 5, 13, 21, 55]

In [119]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
result = filter(lambda x: x % 2 == 0, fib)
print(list(result))

[0, 2, 8, 34]

#trying reduce

In [120]:
red = functools.reduce(lambda x,y: x + y, [47,11,42,13])
red

113

In [121]:
num = [2,45,72,2,7]
largest = functools.reduce(lambda a,b: a if (a > b) else b, num)
print(largest)

72

#sum of numbers 1-100

In [122]:
sum = functools.reduce(lambda x,y: x + y, range(1, 101))
print(sum)

5050

#How much revenue was generated for the given period?

In [125]:
rev = (chipo['quantity'] * chipo['item_price']).sum()
print('Revenue: $' + str(nm.round(rev, 2)))

Revenue: $39237.02

#number of unique orders

In [128]:
chipo.groupby('order_id').sum()[0:5]

          quantity  item_price
order_id
1                4       11.56
2                2       16.98
3                2       12.67
4                2       21.00
5                2       13.70